<div>
    <h1> Reestablece tu contraseña</h1>

    <form id="restoreForm">

        <label>Correo para reestablecer</label>
        <input name="email">

        <label>Nueva contraseña</label>
        <input name="password">
        
        <input type="submit">
    </form>
</div>

<script src="/js/restorePassword.js"></script>