<h1>Registrar nuevo empleado</h1>

<form id="newEmployeeForm">
    <label>Nombre del empleado</label>
    <input name="firstName">
    <br/>
    <label>Apellido del empleado</label>
    <input name="lastName">
    <br/>
    <label>Correo electrónico del empleado</label>
    <input name="email">
    <br/>
    <br/>
    <input type="submit">
</form>

<script src="/js/newEmployee.js"></script>