
<div>

    <h1>Ahora, logueate</h1>

    <form id="loginForm" >

        <label>Email</label>
        <input name="email">

        <label>Contraseña</label>
        <input type="password" name="password">

        <input type="submit">
    </form>

</div>

<script src="/js/login.js"></script>