<div>

    <h1>Regístrate</h1>

    <form id="registerForm" >

        <label>Nombre</label>
        <input name="first_name">

        <label>Apellido</label>
        <input name="last_name">

        <label>Email</label>
        <input name="email">

        <label>Contraseña</label>
        <input type="password" name="password">

        <input type="submit">
    </form>

</div>

<script src="/js/register.js"></script>