<div>
    <h1 style="color:red; text-align:center;">Restaurar tu contraseña</h1>
    <br/>
    <div style=" text-align: center; ">
        <img src="cid:banner">
    </div>
    <h2>Este correo te permitirá colocar una nueva contraseña para tu cuenta</h2>
    <p>
        Es importante que la contraseña que coloques, sea diferente a la actual
    </p>
    
    <p>Puedes restablecer tu contraseña <a href="http://localhost:8080/restorePassword?token={{restoreToken}}">En este enlace</a></p>
</div>