<h1>Login</h1>
<br/>

<form id="loginForm">
    <label>Correo</label>
    <input name="email">
    <label>Contraseña</label>
    <input name="password">
    <input type="submit">
</form>

<p>¿No tienes una cuenta? <a href="/register">Regístrate</a></p>

<p>¿Olvidaste tu contraseña? Puedes <a href="/restoreRequest">restaurarla aquí</a></p>


<script src="/js/login.js"></script>