<h1>Register</h1>
<br/>

<form id="registerForm">
    <label>Nombre</label>
    <input name="firstName">
    <label>Apellido</label>
    <input name="lastName">
    <label>Correo</label>
    <input name="email">
    <label>Contraseña</label>
    <input name="password">
    <label>Rol</label>
    <select name="role">
        <option value="user">Usuario</option>
        <option value="admin">Admin</option>
    </select>
    <input type="submit">
</form>

<script src="/js/register.js"></script>