<h1>Escribe tu correo</h1>

<p>El correo que escribas recibir치 un link de restauraci칩n s칩lo si est치 en
  nuestra base</p>

  <form id="restoreRequestForm">
    <input name="email">
    <input type="submit" id="submitter">
  </form>
  <p id="message"></p>


<script src="/js/restoreRequest.js"></script>