<h1>Escribe tu nueva contraseña</h1>

  <form id="restorePasswordForm">
    <input name="password">
    <input type="submit" id="submitter">
  </form>
  <p id="message"></p>


<script src="/js/restorePassword.js"></script>