<div>
    <h1 style="color:red; text-align:center;">¡Bienvenido!</h1>
    <br/>
    <div style=" text-align: center; ">
        <img src="cid:banner">
    </div>
    <h2>¡Hola {{user.name}}! gracias por registrarte en nuestro ERP</h2>
    <p>
        Lamentamos informarle que aún no tenemos nada hecho, pero igualmente agradecemos
        su registro y su dinero.
    </p>
</div>