<div>
    <h1>¡Hola, {{user.name}}, listo para gestionar {{company.name}}</h1>
    <img src="cid:company1">
    <br/>
    <p>Has sido registrado como administrador de esta empresa</p>
    <p>A partir de ahora puedes entrar con tu contraseña temporal</p>
    <p>Contraseña temporal: {{user.password}}</p>
    <p>Una vez que se ingrese, deberá proporcionar una nueva contraseña</p>
    <p>¡Gracias por pertenecer a Coder ERP</p>
    <a href="http://localhost:8080/">Puede ingresar desde aquí</a>
</div>