<div>
    <h1>¡Hola, {{user.name}}. Bienvenido a bordo! de {{companyName}}</h1>
    <img src="cid:user.png">
    <br/>
    <p>Tu contraseña temporal es {{user.password}}</p>
    <p>Una vez que ingrese, se le solicitará colocar una contraseña personal</p>
    <p>Es importante que cambie su contraseña temporal para ingresar a la plataforma</p>
    <p> ¡Gracias por formar parte de CoderERP ! </p>
    <a href="http://localhost:8080/">Ingresa a la plataforma aquí</a>
</div>