
<h1>Genera una nueva contraseña</h1>

<form id="restorePasswordForm">
    <label>Nuevo password</label>
    <input name="newPassword">
    <br/>
    <input type="submit">
</form>

<script src="/js/restorePassword.js"></script>