<div>
    <form action="/api/users" method="post">
        <label>Nombre</label>
        <input name="name">
        <label>Correo</label>
        <input name="email">
        <input type="submit">
    </form>
</div>